<div class="homepage">
    <div class="titles">
        <h1>The most powerful PDF<br>experience is now the most connected.</h1>
        <h2 class = "subt">Introducing the best Acrobat ever - build for today's cloud-<br>connected
        , multi-device world. Share and review PDFs with<br>your team just as easily 
        on the trains as from your office.</h2>
        <button class = "button1">Download PDF Converter</button>
    </div>
    <div class="content">
        <div class="row">

            <div class="column">
                <div class = "imagecontainer">
                    <h2 class="contenth2">WORD PROCESSOR</h2>
                    <div class="image1">
                    </div>
                </div>
                <div class = "columnbottom">
                    <h2 class="contenth3">It's an experience.</h2>
                    <p>Whether you fly planes, entertain people, or sell shoes, you can use design and data to make memorable experiences part of your entire business.</p>
                    <button class = "button2" >LEARN MORE</button>
                </div>
            </div>

            <div class="column">
                <div class = "imagecontainer">
                    <h2 class="contenth2">MEDIA PLAYER</h2>
                    <div class="image2">
                    </div>
                </div>
                <div class = "columnbottom">
                    <h2 class="contenth3">Go wild with Creative Cloud.</h2>
                    <p>For freewheeling creativity, there's nothing like Photoshop and Creative Cloud. Combine photos, add effects, design in 3D, and make incredible images</p>
                    <button class = "button2" >LEARN MORE</button>
                </div>                
            </div>
            <div class="column">
                <div class = "imagecontainer">
                    <h2 class="contenth2">VIDEO FILE CONVERTER</h2>
                    <div class="image3">                
                    </div>
                </div>
                <div class = "columnbottom">   
                    <h2 class="contenth3">Stock like only Adobe can.</h2>
                    <p>Choose from millions of images, graphics, videos, templates, and 3D assets. With fresh content added daily, you'll always find the perfect one.</p>
                    <button class = "button2" >LEARN MORE</button>
                </div> 
            </div>
        </div>        
    </div>
</div>