<div class="homepage">
    <div class="titles">
        <h1>The most powerful PDF<br>experience is now the most connected.</h1>
        <h2>Introducing the best Acrobat ever - build for today's cloud-<br>connected
        , multi-device world. Share and review PDFs with<br>your team just as easily 
        on the trains as from your office.</h2>
        <button>Download PDF Converter</button>
    </div>
</div>